@import "variables.scss";

@mixin main{    
  font-family: $font-family;
  font-size: $fs-main;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;  
  @media (min-width: $md) {
    font-size: $fs-main-bd;
  }
}

@mixin sub{   
  font-family: $font-family;
  font-size: $fs-sub;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;  
}