@import "variables.scss";

@mixin main{
  text-align: center;  
  font-family: $font-family;
  font-size: $font-size-main;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin sub{
  text-align: center;  
  font-family: $font-family;
  font-size: $font-size-sub;
  font-weight: 400;
  text-transform: uppercase;
}