@import "normalize.scss";
@import "global/global.scss";

@import "blocks/grid.scss";
@import "blocks/button.scss";
@import "blocks/page-header.scss";
@import "blocks/intro-svg.scss";
@import "blocks/reason-header.scss";
@import "blocks/reason.scss";
@import "blocks/reason-img.scss";
@import "blocks/visit.scss";
@import "blocks/hotel.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
