@import "normalize.scss";
@import "global/global.scss";


@import "blocks/page-header.scss";
@import "blocks/intro.scss";
@import "blocks/reason.scss";
@import "blocks/reason-feature.scss";
@import "blocks/reason-img.scss";
@import "blocks/visit.scss";
@import "blocks/hotel.scss";