////////////////// COLORS //////////////////

$brown: #766357;
$blue: #81b3d2;
$white: #fff;
$grey: #eee;
$grey-form: #f2f2f2;
$black: #000;

//////////////// TYPOGRAPHY ////////////////

$font-family: PT Sans, Arial, sans-serif;

$fs-main-bd: 21px;
$fs-main: 18px;
$fs-sub: 14px;

////////////////// MEDIA //////////////////

$md: 768px;
$ld: 1200px;