////////////////// COLORS //////////////////

$brown: hsla(23, 15%, 40%, 1);//#766357;
$blue: hsla(203, 47%, 66%, 1);//#81b3d2;
$white: hsla(0, 100%, 100%, 1);//#fff;
$grey: hsla(0, 0%, 93%, 1);//#eee;
$grey-2: hsla(0, 0%, 95%, 1);//#f2f2f2;
$black: hsla(0, 0%, 0%, 1);//#000;

//////////////// TYPOGRAPHY ////////////////

$font-family: PT Sans, Arial, sans-serif;

$fs-main-bd: 21px;
$fs-main: 18px;
$fs-sub: 14px;

////////////////// MEDIA //////////////////

$md: 768px;
$ld: 1200px;