////////////////// COLORS //////////////////

$brown: #766357;
$blue: #81b3d2;
$white: #fff;
$grey: #eee;
$grey-form: #f2f2f2;
$black: #000;

//////////////// TYPOGRAPHY ////////////////

$font-family: PT Sans, Arial, sans-serif;

$font-size-main-bd: 21px;
$font-size-main: 18px;
$font-size-sub: 14px;

////////////////// MEDIA //////////////////

$md: 768px;
//$ld: 1200px;