@import "../variables.scss";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  display: block;
  background-color: darkgrey;
}

.body-wrap {
  max-width: 320px;
  //max-width: 770px;
  //max-width: 100%;
  //margin: 0 auto;
  background-color: $white;   
}

//img {
//  min-width: 100%;
//  height: auto;
//}