@import "../variables.scss";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  display: block;
  background-color: darkgrey;
}

.body-wrap {
  position: relative;
  //max-width: 320px;
  max-width: 768px;
  //max-width: 100%;
  //margin: 0 auto;
  background-color: $white;   
}