@import "../variables.scss";
@import "../mixins.scss";

.row-wrap{
  @media (min-width: $md) { 
    display: flex;
    flex-wrap: wrap;
  }
}

.row-wrap--reverse{
  @media (min-width: $md) { 
    flex-direction: row-reverse;
  }
}

.row-wrap--feature {
  //padding-top: 25px;
  //padding-bottom: 23px;  
  @media (min-width: $md) {    
    padding-top: 0;
    padding-bottom: 0;
  }
}
