@import "../variables.scss";
@import "../mixins.scss";


.intro {
  min-height: 390px;
  padding-top: 48px;  
  background-color: brown;  
  background: url("../img/photo-background@1x.jpg") 50% 25% no-repeat;
  background-size: cover;  
  @media (min-width: $md) {
    min-height: 512px;
    padding-top: 76px;
    margin-top: 0;
  }  
  
  &__svg {
    display: block;
    height: 100%;
    margin: auto;     
  }
  
  &__welcome {        
    height: 34px;    
    margin-bottom: 10px;
    fill: $blue;
    @media (min-width: $md) {
      height: 44px;
      margin-bottom: 12px;
    }    
  }  
  
  &__tothegorgeous { 
    height: 22px;    
    margin-bottom: 60px;
    fill: $brown;
    @media (min-width: $md) {
      height: 30px;
      margin-bottom: 50px;
    }
  }  
  
  &__sedona {       
    height: 48px;   
    margin-bottom: 67px;
    fill: $white;
    @media (min-width: $md) {
      height: 78px;
      width: 458px;
      margin-bottom: 60px;      
    }    
  }  
  
  &__becausecanyon {       
    height: 54px;
    fill: $white;
    @media (min-width: $md) {
      height: 78px;
    }
  }  
}











