@import "../variables.scss";
@import "../mixins.scss";


.intro {
  min-height: 390px;  
  background-color: brown;  
  //background: url(../../img/photo-background@1x.jpg) 50% 50% no-repeat;
  background-size: cover;
  padding-top: 48px;
  @media (min-width: $md) {
    min-height: 512px;
    padding-top: 76px;
  }  
  
  &__welcome {
    display: block;    
    height: 34px;
    margin: auto;
    margin-bottom: 10px;
    @media (min-width: $md) {
      height: 44px;
      margin-bottom: 12px;
    }
  }  
  
  &__tothegorgeous {
    display: block;    
    height: 22px;
    margin: auto;
    margin-bottom: 60px;
    @media (min-width: $md) {
      height: 30px;
      margin-bottom: 50px;
    }
  }  
  
  &__sedona {
    display: block;    
    height: 48px;
    margin: auto;
    margin-bottom: 67px;    
    @media (min-width: $md) {
      height: 78px;
      margin-bottom: 60px;      
    }
  }  
  
  &__becausecanyon {
    display: block;    
    height: 54px;
    margin: auto;
    @media (min-width: $md) {
      height: 78px;
    }
  }  
}











