@import "../variables.scss";
@import "../mixins.scss";


.intro-svg {
  height: 390px;  
  background-color: brown;  
  //background: url(../../img/photo-background@1x.jpg) 50% 50% no-repeat;
  background-size: cover;
  padding-top: 48px;
  @media (min-width: 768px) {
    height: 512px;
    padding-top: 76px;
  }
  
  
  .intro-svg__welcome {
    display: block;    
    width: 188px;
    height: 34px;
    margin: auto;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      height: 43px;
  }
  }
  
  
  .intro-svg__tothegorgeous {
    display: block;
    width: 196px;
    height: 22px;
    margin: auto;
    margin-bottom: 60px;
    @media (min-width: 768px) {            
    }
  }
  
  
  .intro-svg__sedona {
    display: block;
    width: 280px;
    height: 48px;
    margin: auto;
    margin-bottom: 67px;
  }
  
  
  .intro-svg__becausecanyon {
    display: block;
    width: 197px;
    height: 54px;
    margin: auto;
  }
  
  
}

.intro-txt{
  padding: 0 10%;
  padding-top: 40px;
  padding-bottom: 10px;
  
  .intro-txt__main{
    margin-top: 0;
    margin-bottom: 27px;
    @include main;
    
    line-height: 26px;
  }

  
  .intro-txt__sub{
    @include sub;
    line-height: 26px;
  }
}









