@import "../variables.scss";
@import "../mixins.scss";

.page-header {
  position: relative;
}


.main-nav__list {  
  padding: 0;
  margin: 0;
  list-style: none;  
}  

.main-nav__item {  
  height: 55px;
  display: block;
  background-color: $blue;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(1,1,1,0.2);
  
  
  &:first-child {
    border-top: none;
  }
  
  &:last-child {
    border-bottom: none;
    box-shadow: inset 0px -4px 7px 0px rgba(0,0,0,0.2);
  }
  
  a {     
    display: block;
    height: 100%;
    
    @include main;
    color: $white;
    text-decoration: none;
    line-height: 55px;    
  }
  
}

.burger {
  position: absolute;
  top: 17px;
  right: 20px;
  
  display: block;  
  width: 23px;
  height: 22px;  
  
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
}
.main-nav__logo {  
  display: block;  
  width: 138px;
  height: 70px;
  margin: auto;
  margin-bottom: -14px;
  z-index: 10;
    
  background-image: url("../img/form-logo-triangle.svg");
  background-repeat: no-repeat;
  
  img {
    display: block;
    width: 67px;
    margin: auto;
  }
}

