@import "../variables.scss";
@import "../mixins.scss";

.page-header {
  position: relative;
  padding-bottom: 56px;
  @media (min-width: $md) {
    display: flex;
    padding-bottom: 0;
  }
}
.main-nav {
  display: block;
  width: 100%;  
}

.main-nav--closed {
  @media (max-width: $md) {
    display: none;
  }  
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;  
  @media (min-width: $md) {    
    display: flex;        
    align-items: center;    
  }  
}  

.main-nav__item {  
  display: block;
  background-color: $blue;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(1,1,1,0.2);
  
  &:hover {
    background-color: $blue-hover;
  }
    
  &:active {
    background-color: $blue-active;
    color: $white-active;
  }
  
  @media (min-width: $md) {
    display: block;
    width: 20%;
    background-color: inherit;
    border-top: none;
    border-bottom: none;
    
    &:hover {
      background-color: inherit;
      color: $blue;
    }
    
    &:active {
      background-color: inherit;
      color: $black-active;
    }
  }
  
  &:first-child {
    border-top: $blue;    
    @media (min-width: $md) {    
      border-top: none;
      order: 1;
    }
  }
  
  &:nth-child(2) {        
    @media (min-width: $md) {    
      border-top: none;    
    }
  }
  
  &:nth-child(3) {       
    @media (min-width: $md) {    
      border-top: none;
      margin-right: 20%;
    }
  }  
  
  &:last-child {
    border-bottom: $blue;
    box-shadow: inset 0px -4px 7px 0px rgba(0,0,0,0.2);    
    @media screen and (min-width: $md) {    
      order: 2;
      border-top: none;
      box-shadow: none;
    }
  }
  
}

.main-nav__item a {
    display: block;
    height: 100%;   
    padding-top: 14.5px;//15px;
    padding-bottom: 14.5px; //17px;
    padding-left: 20px;
    padding-right: 20px;    
    @include main;
    text-align: center;
    color: $white;
    text-decoration: none;      
    
    @media screen and (min-width: $md) {
    color: inherit;
    font-size: 14px;
    }
}
.menu-toggle {
  position: absolute;
  top: 17px;
  right: 20px;  
  display: block;  
  width: 23px;
  height: 22px;
  background-image: url("../img/icons/icon-cross.svg");
  background-repeat: no-repeat; 
  
  @media screen and (min-width: $md) {
    display: none;  
  }  
  
}

.menu-toggle--closed {  
  background-image: url("../img/icons/icon-menu.svg");
}

.logo {
  position: absolute;
  left: 50%;
  width: 138px;
  margin-left: -69px;
  
  &__link {
    display: block;  
    width: 138px;
    height: 70px;
    padding-left: 35.5px;
    padding-right: 35.5px;
    background-image: url("../img/icons/form-logo-triangle.svg");
  }
}








