@import "../variables.scss";
@import "../mixins.scss";


.page-footer {  
  z-index: 30;
  display: block;  
  padding-top: 38px;
  padding-bottom: 18px;
  margin-top: -245px;
  background-color: hsla(360, 100%, 100%, 0.9);
}

.hash {
  @include main;
  text-align: center;
  font-size: 21px;
  margin-bottom: 35px;
  }

.social {
  display: block;  
  width: 150px;
  margin: auto;
  margin-bottom: 45px;  
  font-size: 0;
  
  &__item {
    display: inline-block;
    vertical-align: top;    
    width: 46px;
    height: 48px;
    margin-right: 6px;    
    background-color: $blue;    
    &:last-child {
      margin-right: 0;
    }
  }
}

.copyright {
  @include sub;
  text-align: center;  
}