@import "../variables.scss";
@import "../mixins.scss";

.page-header {
  position: relative;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;  
}  

.main-nav__item {  
  display: block;
  background-color: $blue;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(1,1,1,0.2);
  
  @media screen and (min-width: $md) {
    background-color: inherit;
    border-top: none;
    border-bottom: none;    
  }
  
  &:first-child {
    border-top: $blue;
    
    @media screen and (min-width: $md) {    
    border-top: none;    
    }
  }  
  
  &:last-child {
    border-bottom: $blue;
    box-shadow: inset 0px -4px 7px 0px rgba(0,0,0,0.2);
    
    @media screen and (min-width: $md) {    
    border-top: none;
    box-shadow: none;
    }
  }    
}

.main-nav__item a {
    display: block;
    height: 100%;   
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;    
    @include main;
    color: $white;
    text-decoration: none;
    
    @media screen and (min-width: $md) {
    color: inherit;  
    }
}
.burger {
  position: absolute;
  top: 17px;
  right: 20px;  
  display: block;  
  width: 23px;
  height: 22px;  
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  
  @media screen and (min-width: $md) {
    display: none;  
  }  
  
}
.main-nav__logo {  
  display: block;  
  width: 138px;
  height: 70px;
  margin: auto;
  margin-bottom: -14px;
  z-index: 10;
    
  background-image: url("../img/form-logo-triangle.svg");
  background-repeat: no-repeat;
  
  img {
    display: block;
    width: 67px;
    margin: auto;
  }
}







