@import "../variables.scss";
@import "../mixins.scss";


.page-footer {
  z-index: 30;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 38px;
  padding-bottom: 18px;
  margin-top: -245px;
  background-color: hsla(360, 100%, 100%, 0.9);
  @media (min-width: $md) {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.hash {
  margin-bottom: 35px;
  @include main;
  text-align: center;
  font-size: 21px;
  line-height: 48px;
  @media (min-width: $md) {
    width: 33.33%;
    max-width: 33.33%;
    margin-bottom: 0;
  }
  }

.social {
  text-align: center;
  margin: auto;
  margin-bottom: 45px;
  font-size: 0;
  @media (min-width: $md) {
    width: 33.33%;
    max-width: 33.33%;
    margin: 0;
  }

  &__svg {
    height: 20px;
    width: 20px;
    margin-top: 14px;
    fill: white;
  }

  &__item {
    display: inline-block;
    vertical-align: center;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    background-color: $blue;

    &:last-child {
      margin-right: 0;
    }
  }
}

.copyright {
  @include sub;
  text-align: center;
  @media (min-width: $md) {
    width: 33.33%;
    max-width: 33.33%;
  }

  &__link {
    display: inline-block;
    max-height: 30px;
  }

  &__svg {
    position: relative;
    top: 10px;
    max-width: 27px;
    max-height: 30px;
    margin-right: 12px;
    margin-left: 12px;
  }
}
