@import "../variables.scss";
@import "../mixins.scss";

.reason-img {
  height: 256px;  
  background-color: brown;
  overflow: hidden;
  @media (min-width: $md) {    
    width: 66.66%;
    height: 256px;
  }
    img {
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
  }
