@import "../variables.scss";
@import "../mixins.scss";

.reason-feature-wrap {
  padding-top: 25px;
  padding-bottom: 21px;
}


.reason-feature {
  padding-left: 70px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  
  
  .reason-feature__title {    
    margin: 0;
    margin-bottom: 15px;    
    
    @include main;
    text-align: left;
  }
  
  
  .reason-feature__txt {    
    margin: 0;    
    
    @include sub;
    text-align: left;
    line-height: 21px;
  }
}