@import "../variables.scss";
@import "../mixins.scss";




/*.reason-feature__title {    
  margin: 0;
  margin-bottom: 15px;    
  @include main;
  text-align: left;
  @media (min-width: $md) {
    text-align: center;
  }
}  
  
.reason-feature__txt {    
  margin: 0;    
  @include sub;
  text-align: left;  
  @media (min-width: $md) {
    text-align: center;
  }
}*/
