@import "../variables.scss";
@import "../mixins.scss";

.reason {
  padding-left: 10%;
  padding-right: 10%;
  line-height: 21px;
  text-align: center;  
  @media (min-width: $md) {
    max-width: 33.3333333333%;
    min-height: 256px;
    padding-left: 6.5%;
    padding-right: 6.5%;  
  }   
  
  &__title {
    @include main;
    display: block;
    margin-bottom: 10px;    
  }  
  
  &__num {
    margin-top: 10px;
    @include sub;
    @media(min-width: $md) {
      margin-bottom: 20px;
    }
  }  
  
  &__about {       
    margin-bottom: 0;
    @include sub;    
  }
  
  &__svg {
    width: 75px;
    height: 75px;
    margin-top: 60px;
    fill: $blue;
  }
}

.reason--blue {
  //padding-top: 45px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: $white;  
  background-color: $blue;  
  @media (min-width: $md) {    
    padding-left: 5%;
    padding-right: 5%;  
  }
  @media (min-width: $ld) {    
    padding-top: 38px;    
  } 
}

.reason--feature {
  @media (max-width: $md) {
  padding-left: 70px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  text-align: left;  
    
    &:first-child {
      padding-top: 27px;
    }
  
    &:last-child {
      padding-bottom: 37px;
    }
  }
  
  @media (min-width: $md) {    
    min-height: 330px;    
  }
}

.reason--grey {
  position: relative;  
  padding-top: 15px;
  padding-bottom: 28px;  
  background-color: $grey;
  @media (min-width: $md) {    
    padding-top: 30px;    
  }  
  
  &::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6.25%;
  right: 6.25%;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  @media (min-width: $md) {
    display: none;
  }  
  }
  
  &:last-child::after {
    display: none;
  }
}








