@import "../variables.scss";
@import "../mixins.scss";

.reason {
  padding-left: 10%;
  padding-right: 10%;
  
  
  .reason__title{
    @include main;
  }
  
  
  .reason__num{
    @include sub;
  }
  
  
  .reason__about{
    @include sub;
    margin-bottom: 0;
  }
}


.reason--1 {
  padding-top: 45px;
  padding-bottom: 41px;
  background-color: $blue;
  line-height: 21px;
}


.reason--2 {
  padding-top: 30px;
  padding-bottom: 41px;
  background-color: $blue;
  line-height: 21px;
}

.reason--grey {
  position: relative;
  
  padding-top: 16px;
  padding-bottom: 28px;
  
  line-height: 21px;
  
  background-color: $grey;
  
  
  &::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 6.25%;
  right: 6.25%;

  height: 1px;

  background-color: rgba(0,0,0,0.1);
  }
}


.reason--5 {
  &::after {
    display: none;
  }
  
}
















