@import "../variables.scss";
@import "../mixins.scss";

.reason-header { 
  padding-top: 40px;
  padding-bottom: 10px;
  //padding-right: 10%;
  //padding-left: 10%;
  @media (min-width: $md) {
      width: 486px;
      max-width: 486px;
      margin: auto;
      padding-top: 55px;
      padding-bottom: 35px;
      padding-right: 0;
      padding-left: 0;      
    }
  
  &__main{
    margin-top: 0;
    margin-bottom: 27px;
    @include main;
    text-align: center;
    line-height: 26px;
    @media (min-width: $md) {
      margin-bottom: 29px;
      font-size: 21px;
    }
  }
  
  &__sub{
    @include sub;
    text-align: center;
    line-height: 26px;
    @media (min-width: $md) {
      
    }
  }
}