@import "../variables.scss";
@import "../mixins.scss";

.visit { 
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 9%;
  padding-right: 9%;

  &__ask {
  margin: 0;
  margin-bottom: 20px;
  
  
  @include main;
  font-size: 21px;
}


  &__invite {
  margin: 0;
    
  @include sub;
  line-height: 24px;
}
}