@import "../variables.scss";
@import "../mixins.scss";

.visit { 
  padding-top: 28px;
  padding-bottom: 25px;
  padding-left: 9%;
  padding-right: 9%;
  max-width: 568px;
  margin: auto;
  @media (min-width: $md) {
    padding-top: 55px;
    padding-bottom: 45px;
  }  

  &__ask {
  margin: 0;
  margin-bottom: 20px; 
  @include main;
  font-size: 21px;
  text-align: center;
    @media (min-width: $md) {
      font-size: 30px;
      margin-bottom: 30px;
    }  
  }

  &__invite {
  margin: 0;    
  @include sub;
  line-height: 24px;
  text-align: center;
  }
}