@import "../variables.scss";
@import "../mixins.scss";

.visit { 
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 9%;
  padding-right: 9%;

  &__ask {
  margin: 0;
  
  
  @include main;
  font-size: 21px;
}


  &__invite {
  @include sub;
}
}